$font-stack: "SFProDisplay", sans-serif;
$MAIN_COLOR: rgb(229, 229, 229);
$COLOR_DATE: rgb(137, 156, 177, 1);
$COLOR_NEW-CALL: rgb(18, 41, 69, 1);
$COLOR_GREEN: rgba(0, 167, 117, 1);
$COLOR_YELLOW: rgba(255, 184, 0, 1);
$COLOR_RED: rgba(234, 26, 79, 1);
$COLOR_WHITE: rgba(255, 255, 255, 1);
$COLOR_PROGRESS: rgba(222, 230, 245, 1);
$COLOR_SIDEBAR: rgba(9, 19, 54, 1);
$COLOR_SIDEBAR-TEXT: rgba(255, 255, 255, 0.6);
$COLOR_SIDEBAR-BTN: rgba(0, 95, 248, 1);
$COLOR_PLACHOLDER: rgba(94, 119, 147, 1);
$COLOR_BORDER: rgba(234, 240, 250, 1);
$COLOR_GREEN-POINT: rgba(40, 168, 121, 1);
$COLOR_GREY-POINT: rgba(173, 191, 223, 1);
$COLOR_BORDER-GREEN: rgba(40, 168, 121, 1);
$COLOR_LIGHT-GREEN: rgba(219, 248, 239, 1);
$COLOR_ICON-SECONDARY: rgba(216, 228, 251, 1);
$COLOR_LIGHT-RED: rgba(254, 233, 239, 1);
$COLOR_ACCENT: rgba(0, 44, 251, 1);